/* undo button */
.undo{
    border-radius: 30px;
    background-color: #42b6b8;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: absolute;
    cursor: pointer; 
    height: 100px;
    width: 225px;
    right: 325px;
    top: 100px;
}
/* button for game size 4 */
.btn4 {
    border-radius: 30px;
    background-color: rgb(57, 192, 57);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: absolute;
    top: 220px;
    right: 100px;
    height: 100px;
    width: 450px;
    cursor: pointer;
}
/* button hover for lvl 4 */
.btn4:hover {
    background-color: rgb(108, 201, 108);
}

/* button for game size 8 */
.btn8 {
    border-radius: 30px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: rgb(43, 43, 254);
    position: absolute;
    top: 340px;
    right: 100px;
    height: 100px;
    width: 450px;
    cursor: pointer;

}

/* button hover for lvl 8 */
.btn8:hover {
    background-color: rgb(91, 91, 245);
}

/* button for game size 12 */
.btn12 {
    border-radius: 30px;
    background-color: #f83333;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: absolute;
    top: 460px;
    right: 100px;
    height: 100px;
    width: 450px;
    cursor: pointer;
}

/* button hover for lvl 12 */
.btn12:hover {
    background-color: rgb(245, 114, 114);

}

/* //button to set 7Boom board */
.boom{
    border-radius: 30px;
    background-color: #42b6b8;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: absolute;
    top: 580px;
    right: 100px;
    height: 100px;
    width: 450px;
    cursor: pointer; 
}
.boom:hover{
    background-color: #8bc9ca;
}

/* button for custom game */
.btnmanual {
    border-radius: 30px;
    background-color: #bc3bb8;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: absolute;
    top: 700px;
    right: 100px;
    height: 100px;
    width: 450px;
    cursor: pointer;
}
.btnmanual:hover{
    background-color: #c982c7;
}
/* button to start the manuall game */
.playmanual{
    cursor: pointer;
    border-radius: 50%;
    border: 3px dotted black;
    background-color: #bc3bb8;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: absolute;
    top:710px;
    right: 560px;
    height: 80px;
    width: 80px;
}
.playmanual:hover{
    background-color: #c982c7;
}







/* local stoger button  */

/* .local{
    border-radius: 30px;
    background-color: #e433d5;
    font-size:40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: absolute;
    top: 650px;
    right: 100px;
    height: 100px;
    width: 450px;
    cursor: pointer;
}
.local:hover{
    background-color: #db7ad3;
} */